<div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" routerLink="../frontdesk">
            <div class="box">
                <div class="img">
                    <img src="./assets/images/front-desk-ico.png" alt="front-desk" title="Front Desk">
                </div>
                <h5>Front Desk</h5>                
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" routerLink="../housekeeping">
            <div class="box">
                <div class="img">
                    <img src="./assets/images/house-keeping-ico.png" alt="housekeeping" title="Housekeeping">
                </div>
                <h5>House Keeping</h5>                
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" routerLink="../restaurant">
            <div class="box">
                <div class="img">
                    <img src="./assets/images/restaurant-ico.png" alt="restaurant" title="Restaurant">
                </div>
                <h5>Restaurant</h5>                
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
        <div class="card" routerLink="../reports">
            <div class="box">
                <div class="img">
                    <img src="./assets/images/billing-ico.png" alt="reports" title="Reports">
                </div>
                <h5>Reports</h5>                
            </div>
        </div>
    </div>
</div>
