<div class="container-fluid" style="padding:10px 0px; ">
    <h5>Phone Management</h5>

    <div class="row">

        <div class="col-12 col-flexible">
            <alert *ngIf="alertMessageDetails.response" [type]="alertMessageDetails.type" [dismissible]="true" class="text-center">
                {{alertMessageDetails.message}}
            </alert>
        </div>

        <div class="col">
            <div class="table-responsive">

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" id="tableHeaderRow">
                        <div class="divDisplayTableCell head brdLft text-center" style="width:10%;">Sl. No.</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Room No</div>
                        <div class="divDisplayTableCell head text-center" style="width:35%;">Phone Extensions</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Actions</div>
                    </div>
                </div>

                <perfect-scrollbar class="position-relative" [style.max-height.px]="scrollBarContainerHeight" [scrollIndicators]="true">

                    <div class="divDisplayTable">
                        <div class="divDisplayTableRow" *ngFor="let intercomItem of intercomList; let i = index;">
                            <div class="divDisplayTableCell brdLft text-center" style="width:10%;">{{intercomItem.id}}</div>

                            <div class="divDisplayTableCell text-center" style="width:10%;padding-left: 10px;">
                                <span [hidden]="intercomItem.editable">
                                    {{intercomItem.roomNumber}}
                                </span>
                                <input [hidden]="!intercomItem.editable" type="text" name="editRoomNumber" id="editRoomNumber_{{i}}" [(ngModel)]="intercomItem.roomNumber" class="edit-input-box" />
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:35%;padding-left: 10px;">
                                <span [hidden]="intercomItem.editable">
                                    {{intercomItem.extension}}
                                </span>
                                <input [hidden]="!intercomItem.editable" type="text" name="editRatePlanDesc" id="editRatePlanDesc_{{i}}" [(ngModel)]="intercomItem.extension" class="edit-input-box" />
                            </div>


                            <div class="divDisplayTableCell text-center" style="width:15%;">
                                <div class="d-inline-block point-cursor" (click)="intercomItem.editable = !intercomItem.editable">
                                    <img *ngIf="!intercomItem.editable" src="./assets/images/edit.png" alt="edit">
                                    <i *ngIf="intercomItem.editable" style="color:#6787BF;" class="fa fa-save" alt="save" (click)="editRate(i)"></i>
                                </div>
                                <div class="d-inline-block point-cursor" style="margin-left: 10px;" (click)="openConfirmModal(i)">
                                    <img src="./assets/images/delete.png" alt="delete">
                                </div>
                            </div>
                        </div>
                    </div>

                </perfect-scrollbar>

            </div>
        </div>
    </div>

    <div class="row" id="footerButtonContainer" style="margin-top:20px;">
        <div class="col point-cursor">
            <span class="badge badge-sky" style="vertical-align:text-top;"><i class="fa fa-plus"></i></span>
            <div style="margin-left:6px;display: inline-block;">Add</div>
        </div>

        <div class="col">
            <!-- <button class="btn btn-normal pull-right" type="submit">Save</button> -->
            <!-- <button class="btn btn-normal pull-right" type="submit">Reset</button> -->
        </div>
    </div>
</div>
