.report-details-row {
    padding: 8px 10px;
    .table {
        border: 1px solid #D3D3D3;

        thead {
            th {
                background-color: #DCE2FF;
                color: #5C6475;
                text-align: center;
            }            
        }
        tbody{
            tr{
                &:nth-child(even) {background-color: #ffffff;}
                &:nth-child(odd) {background-color: #F7F9FF;}
                td{ }
            }
        }
    }
}
