<div class="container-fluid" style="padding:10px 0px; ">
    <h5>Meal Plans</h5>

    <div class="row">

        <div class="col-12 col-flexible">
            <alert *ngIf="alertMessageDetails.response" [type]="alertMessageDetails.type" [dismissible]="true" class="text-center">
                {{alertMessageDetails.message}}
            </alert>
        </div>

        <div class="col">
            <div class="table-responsive">

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" id="tableHeaderRow">
                        <div class="divDisplayTableCell head brdLft text-center" style="width:10%;">Sl. No.</div>
                        <!-- <div class="divDisplayTableCell head text-center" style="width:10%;">Apply</div> -->
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Code</div>
                        <div class="divDisplayTableCell head text-center" style="width:35%;">Descriptions</div>
                        <div class="divDisplayTableCell head text-center" style="width:20%;">Charges</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Actions</div>
                    </div>
                </div>

                <perfect-scrollbar class="position-relative" [style.max-height.px]="scrollBarContainerHeight" [scrollIndicators]="true">

                    <ng-container *ngIf="mealPlanList != null && mealPlanList.length > 0; else noDataBody">

                        <div class="divDisplayTable">
                            <div class="divDisplayTableRow" *ngFor="let policyItem of mealPlanList; let i = index;">
                                <div class="divDisplayTableCell brdLft text-center" style="width:10%;">{{i+1}}</div>

                                <!-- <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            <input type="radio" name="rateCkb" id="rpckb_{{i}}" [(ngModel)]="policyItem.isApplied">
                        </div> -->
                                <div class="divDisplayTableCell text-left" style="width:10%;padding-left: 10px;">
                                    <span [hidden]="policyItem.editable">
                                        {{policyItem.mealPlanCode}}
                                    </span>
                                    <input [hidden]="!policyItem.editable" type="text" name="editMealPlanCode" id="editMealPlanCode_{{i}}" [(ngModel)]="policyItem.mealPlanCode" class="edit-input-box" />
                                </div>

                                <div class="divDisplayTableCell text-left" style="width:35%;padding-left: 10px;">
                                    <span [hidden]="policyItem.editable">
                                        {{policyItem.mealPlanDesc}}
                                    </span>
                                    <input [hidden]="!policyItem.editable" type="text" name="editMealPlanDesc" id="editMealPlanDesc_{{i}}" [(ngModel)]="policyItem.mealPlanDesc" class="edit-input-box" />
                                </div>

                                <div class="divDisplayTableCell brdLft text-center position-relative" style="width:20%;">
                                    <div *ngIf="!policyItem.editable" class="d-inline-block text-right" style="margin-right: 10px; top:0px; width:55%">
                                        <span>{{policyItem.mealCharges}}</span>
                                    </div>
                                    <!-- <div *ngIf="!policyItem.editable" class="d-inline-block text-center" style="width:30%">
                                <div class="decimal-percent-badge">{{policyItem.percent ? '%' : '.00'}}</div>
                            </div> -->
                                    <div *ngIf="policyItem.editable" class="d-inline-block text-center position-absolute" style="width:55%;left:5%;top:5px;">
                                        <input type="text" name="editMealPlanCharge" id="editMealPlanCharge_{{i}}" [(ngModel)]="policyItem.mealCharges" class="edit-input-box" />
                                    </div>
                                    <!-- <div *ngIf="policyItem.editable" class="d-inline-block position-absolute" style="width:30%;right: 6%;top:5px;">
                                <div class="input_wrapper">
                                    <input type="checkbox" class="switch_4" [(ngModel)]="policyItem.percent">
                                    <span class="is_checked">%</span>
                                    <span class="is_unchecked">.00</span>
                                </div>
                            </div> -->
                                </div>

                                <div class="divDisplayTableCell text-center" style="width:15%;">
                                    <div class="d-inline-block point-cursor" (click)="policyItem.editable = !policyItem.editable">
                                        <img *ngIf="!policyItem.editable" src="./assets/images/edit.png" alt="edit">
                                        <i *ngIf="policyItem.editable" style="color:#6787BF;" class="fa fa-save" alt="save" (click)="editMealPlan(i)"></i>
                                    </div>
                                    <div class="d-inline-block point-cursor" style="margin-left: 10px;" (click)="openConfirmModal(i)">
                                        <img src="./assets/images/delete.png" alt="delete">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </ng-container>

                    <div class="divDisplayTable" *ngIf="showAddMealPlan">
                        <div class="divDisplayTableRow">
                            <div class="divDisplayTableCell brdLft" style="width:10%;">&nbsp;</div>
                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                <input type="text" name="mealPlanCode" id="mealPlanCode" [(ngModel)]="newMealPlanObj.mealPlanCode" style="width:90%" />
                            </div>
                            <div class="divDisplayTableCell text-center" style="width:35%;">
                                <input name="mealPlanDesc" id="mealPlanDesc" style="width:90%" [(ngModel)]="newMealPlanObj.mealPlanDesc" />
                            </div>
                            <div class="divDisplayTableCell text-center" style="width:20%;">
                                <input name="mealCharges" id="mealCharges" style="width:90%" [(ngModel)]="newMealPlanObj.mealCharges" />
                            </div>
                            <div class="divDisplayTableCell text-center" style="width:18%;" (click)="createMealPlan()">
                                <div class="d-inline-block point-cursor"><img src="./assets/images/save.png" alt="Add Meal Plan"></div>
                            </div>
                        </div>
                    </div>

                </perfect-scrollbar>

                <ng-template #noDataBody>
                    <div class="divDisplayTable">
                        <div class="divDisplayTableRow" *ngIf="mealPlanList != null && mealPlanList.length == 0">
                            <div class="divDisplayTableCell brdLft text-center" style="width:100%">
                                No Data Found
                            </div>
                        </div>
                    </div>
                </ng-template>


                <!-- <ng-template #popTemplate>

                    <div class="table-responsive" style="width:400px;">
                        <div class="divDisplayTable">
                            <div class="divDisplayTableRow" id="tableHeaderRow">
                                <div class="divDisplayTableCell head brdLft text-center" style="width:15%;">Sl. No.</div>
                                <div class="divDisplayTableCell head text-center" style="width:10%;">
                                    <input type="checkbox" name="body" id="headCkb" [(ngModel)]="allCkbox" (change)="selectCKBStatus('all')">
                                </div>
                                <div class="divDisplayTableCell head text-center" style="width:35%;">Policies</div>
                            </div>
                            <div class="divDisplayTableRow" *ngFor="let policyItem of policyList">
                                <div class="divDisplayTableCell brdLft text-center" style="width:15%;">{{policyItem.policyId}}</div>
                                <div class="divDisplayTableCell text-center" style="width:10%;">
                                    <input type="checkbox" name="body" id="policyckb_{{i}}" [(ngModel)]="policyItem.checked" (change)="selectCKBStatus(policyItem)">
                                </div>
                                <div class="divDisplayTableCell text-left" style="width:15%;">{{policyItem.name}}</div>
                            </div>
                        </div>
                        <div class="col text-center table-footer">
                            <button class="btn btn-normal">Ok</button>
                        </div>
                    </div>

                </ng-template> -->
            </div>
        </div>
    </div>

    <div class="row" id="footerButtonContainer" style="margin-top:20px;">
        <div class="col">
            <div class="d-inline-block point-cursor">
                <span class="badge badge-sky" (click)="showAddMealPlanRow();" style="vertical-align:text-top;"><i class="fa fa-plus"></i></span>
                <div (click)="showAddMealPlanRow();" style="margin-left:6px;display: inline-block;">Add Meal Plan</div>
            </div>
        </div>

        <div class="col">
            <!-- <button class="btn btn-normal pull-right" type="submit">Save</button> -->
            <!-- <button class="btn btn-normal pull-right" type="submit">Reset</button> -->
        </div>
    </div>
</div>
