<div class="container-fluid" style="padding:10px 0px; ">
    <h5>Property Information</h5>
    <div class="row booking-row">
        <div class="col-12 col-flexible">
            <div class="form-container">
                <header>
                    Property Information
                </header>
                <section>
                    <!-- <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="recipient-name">Duration</label>
                                <div class="form-row">
                                    <div class="col">
                                        <div class="input-group date-cal">
                                            <span (click)="dpsrt.show()">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" id="arrival-date">
                                        </div>
                                    </div>
                                    <div class="col-1 align-self-center text-center">to</div>
                                    <div class="col">
                                        <div class="input-group date-cal">
                                            <span (click)="dpend.show()">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control" id="departureDate">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <div class="row">
                        <div class="col">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Property Name</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Property Description</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Country</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">State</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">City</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">Pin</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Phone</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">Fax</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Email</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                </section>
            </div>
        </div>

        <div class="col-12 col-flexible">
            <div class="form-container">
                <header>
                    Basic Settings
                </header>

                <section>
                    <div class="row">
                        <div class="col">
                            <div class="form-row">
                                <div class="form-group col">
                                    <label for="propertyName">Preffered Date Format</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">Your Time Zone</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">Currency</label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group col">
                                    <label for="propertyName">Language</label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>

        <div class="col-12 col-flexible">
            <div class="form-container">
                <section>
                    <div class="row">
                        <div class="col text-center">
                            <button class="btn btn-md btn-primary"> Update </button>
                        </div>
                    </div>
                </section>
            </div>
        </div>

    </div>
</div>
