.booking-row {
  margin: 0px 10px;

  .col-flexible {
      padding: 0px;

      .form-container {
          margin: 0px 0.5px;

          header {
              background-color: #DCE2FF;
              padding: 5px 15px;
              margin-bottom: 1px;
          }

          section {
              background-color: #F7F9FF;
              margin-bottom: 1px;
              padding: 5px 15px;

              .form-row {

                  .input-group {
                      &.date-cal {
                          span {
                              position: absolute;
                              right: 10px;
                              top: 6px;
                              height: 25px;
                              display: flex;
                              align-items: center;
                              z-index: 9;
                          }

                          input {
                              &.form-control {
                                  padding-right: 30px;
                                  border-top-left-radius: 4px;
                                  border-bottom-left-radius: 4px;
                              }
                          }
                      }
                  }

                  .card-holder {
                      margin-top: 6px;

                      a {
                          margin-right: 5px;
                      }
                  }
              }
          }
      }
  }
  
}