<div class="cust-container" style="padding: 0rem;margin: 0rem;">

    <div class="head-section ">
        <div class="row head-row">
            <div class="col-8 inner-col-right-reduce">
                <h5>Booking Details</h5>
            </div>
            <div class="col-4 inner-col-left-reduce">
                <h5>Folio List</h5>
            </div>
        </div>
        <div class="row body-row">
            <div class="col-8 inner-col-right-reduce">
                <div class="card">
                    <div class="form-row">
                        <div class="col-2">
                            Guest Name:
                        </div>
                        <div class="col" style="flex: 0 0 20%;">
                            {{bookingData.guestDetails.guestDetail[0].givenName}}&nbsp;{{bookingData.guestDetails.guestDetail[0].surName}}
                        </div>
                        <div class="col" style="flex: 0 0 15%;">
                            Stay Details:
                        </div>
                        <div class="col">
                            {{bookingData.roomtype}}({{bookingData.assignedRoomNumber}}),
                            {{bookingData.arrivalDate | date : 'dd-MMM-yyyy'}} to
                            {{bookingData.departureDate | date : 'dd-MMM-yyyy'}} ({{bookingData.los}} Nights)
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            Address:
                        </div>
                        <div class="col" style="flex: 0 0 20%;">
                            {{bookingData.guestDetails.guestDetail[0].address1}},
                            {{bookingData.guestDetails.guestDetail[0].city}}
                        </div>
                        <div class="col" style="flex: 0 0 15%;">&nbsp;</div>
                        <div class="col-3">
                            <div class="rate-indicator">{{bookingData.ratePlan}}</div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            Phone:
                        </div>
                        <div class="col" style="flex: 0 0 20%;">
                            {{bookingData.guestDetails.guestDetail[0].phone}}
                        </div>
                        <div class="col" style="flex: 0 0 15%;">
                            Room(s):
                        </div>
                        <div class="col">
                            {{bookingData.numberOfRooms}} Room(s) &nbsp;&nbsp; Adults: {{bookingData.adult}}
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-2">
                            Created On:
                        </div>
                        <div class="col" style="flex: 0 0 20%;">
                            {{bookingData.bookingDate | date : 'dd-MMM-yyyy'}}
                        </div>
                        <div class="col" style="flex: 0 0 15%;">
                            Amount:
                        </div>
                        <div class="col" *ngIf="totalBillData">
                            {{totalBillData.bookingTotal}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 inner-col-left-reduce">
                <div class="card">
                    <div class="row">
                        <div class="col">
                            <span class="error-indicator">No Folio Generated</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            Folio generate now:
                        </div>
                        <div class="col-7">
                            <input type="checkbox" name="genFol" id="genFol">
                            Generate seperate Folio for other charges
                        </div>
                    </div>
                    <div class="row d-md-none">
                        <div class="col">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-section">
        <div class="row body-row">
            <div class="col text-center" style="margin: 10px 0px 0px;">
                <p class="h4">Account Statement</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-flexible">
                <alert *ngIf="alertMessageDetails.response" [type]="alertMessageDetails.type" [dismissible]="true" class="text-center">
                    {{alertMessageDetails.message}}
                </alert>
            </div>
        </div>

        <div class="row body-row">
            <div class="table-responsive">

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" id="tableHeaderRow">
                        <div class="divDisplayTableCell head brdLft text-center" style="width:5%;">
                            <div class="chiller_cb">
                                <input type="checkbox" name="head" id="headckb">
                                <label for="headckb">&nbsp;</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Date</div>
                        <div class="divDisplayTableCell head text-center" style="width:20%;">Description-References
                        </div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Folio#</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Disc/Allowance</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Charges</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Tax</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Payment</div>
                    </div>
                </div>

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" *ngFor="let transactionItem of transactionData; let i = index;">
                        <div class="divDisplayTableCell brdLft text-center" style="width:5%;">
                            <div class="chiller_cb">
                                <input type="checkbox" name="body" id="bodyckb_{{i}}">
                                <label for="bodyckb_{{i}}">&nbsp;</label>
                                <span></span>
                            </div>
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            {{transactionItem.tranxDate | date : 'dd-MMM-yyyy'}}
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:20%;">
                            {{transactionItem.tranxDesc}}
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            {{transactionItem.folioId}}
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:15%;">
                            {{transactionItem.discount}}%
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:15%;">
                            <input type="text" name="charge_{{i}}" id="charge_{{i}}" style="width:80%;"
                                [(ngModel)]="transactionItem.tranxAmount">
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:15%;">
                            <input type="text" name="tax_{{i}}" id="tax_{{i}}" style="width:80%;"
                                [(ngModel)]="transactionItem.tax">
                        </div>
                        <div class="divDisplayTableCell brdLft text-right" style="width:10%;">
                            {{transactionItem.payment}}
                        </div>
                    </div>
                    <div class="divDisplayTableRow">
                        <div class="divDisplayTableCell brdLft" style="width: 5%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 20%; background-color:#DDFBE3;">
                            Total
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="divDisplayTableCell brdLft" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                    </div>
                </div>

                <!--<br>
                <div class="divDisplayTable">
                    <div class="divDisplayTableRow">
                        <div class="divDisplayTableCell" style="width: 60%; border-color: transparent; background-color:#DCE2FF; padding: 0px 5px;">
                            <div style="padding-left:1%;">Payment</div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Mode</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Type</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Amount</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:20%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Credit Card No.</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Recepit No.</label>
                                    <input type="email" class="form-control">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:20%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="exampleInputEmail1" style="margin-bottom:0px;">Description</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                            </div>
                            <div>
                                <div class="pull-right" style="width:20%; padding: 0px 1%;">
                                    <button class="btn btn-normal pull-right">Pay Now</button>
                                </div>
                                <br clear="all" />
                            </div>
                        </div>
                        <div class="divDisplayTableCell text-right" style="width: 30%; border-color: transparent; padding-right:0px;">
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Booking Total</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Other Charges</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Tax</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Disc/Allowances</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total with Tax</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Paid</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                        <div class="divDisplayTableCell text-right" style="width: 10%; border-color: transparent; padding-left:0px;">
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <div style="height:25px;line-height: 25px;">4,000.00</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                    </div>
                    <div class="divDisplayTableRow">
                        <div class="divDisplayTableCell" style="width: 60%; padding: 10px 5px; border-color: #ffffff; background-color:#C0CAF5;">
                            <div style="float:right; padding-right:1%;">
                                <button class="btn btn-normal">Back</button>
                                <button class="btn btn-normal">Delete Proforma Invoice</button>
                                <button class="btn btn-normal">Close</button>
                                <button class="btn btn-normal">Print</button>
                            </div>
                        </div>
                        <div class="divDisplayTableCell text-right" style="width: 30%; border-color: #ffffff;background-color:#FFF;padding-right:0px;">
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Balance</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="height:25px;line-height: 25px;">Refund | Route Payment </div>
                        </div>
                        <div class="divDisplayTableCell" style="width: 10%; border-color: #ffffff;background-color:#FFF;padding-left:0px;">
                            <div class="text-right" style="height:25px;line-height: 25px;">4,000.00</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="height:25px;line-height: 25px;"> | Currency Converter</div>
                        </div>
                    </div>
                </div>
            
                <br><br><br><br>
        -->
                <!--<div class="rTable table-list">
                    <div class="rTableRow" id="tableHeaderRow">
                        <div class="rTableHead text-center" style="width:5%;">
                            <div class="chiller_cb">
                                <input type="checkbox" name="head" id="headckb">
                                <span></span>
                            </div>
                        </div>
                        <div class="rTableHead text-center" style="width:10%;">Datei</div>
                        <div class="rTableHead text-center" style="width:20%;">Description-References</div>
                        <div class="rTableHead text-center" style="width:10%;">Folio#</div>
                        <div class="rTableHead text-center" style="width:15%;">Disc/Allowance</div>
                        <div class="rTableHead text-center" style="width:15%;">Charges</div>
                        <div class="rTableHead text-center" style="width:15%;">Tax</div>
                        <div class="rTableHead text-center" style="width:10%;">Payment</div>
                    </div>

                    <div class="rTableRow" *ngFor="let item of [1,2,3,4,5,6]; let i = index;">
                        <div class="rTableCell text-center" style="width:5%;">
                            <input type="checkbox" name="body" id="bodyckb_{{i}}">
                        </div>
                        <div class="rTableCell text-center" style="width:10%;">
                            1{{i + 1}}-Jan-2019
                        </div>
                        <div class="rTableCell text-center" style="width:20%;">
                            Description
                        </div>
                        <div class="rTableCell text-center" style="width:10%;">
                            flno {{i + 1}}
                        </div>
                        <div class="rTableCell text-center" style="width:15%;">
                            20%
                        </div>
                        <div class="rTableCell text-center" style="width:15%;">
                            <input type="text" name="charge_{{i}}" id="charge_{{i}}" style="width:80%;">
                        </div>
                        <div class="rTableCell text-center" style="width:15%;">
                            <input type="text" name="tax_{{i}}" id="tax_{{i}}" style="width:80%;">
                        </div>
                        <div class="rTableCell text-right" style="width:10%;">
                            5,000.00
                        </div>
                    </div>
                    <div class="rTableRow">
                        <div class="rTableCell" style="width: 5%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 20%; background-color:#DDFBE3;">
                            Total
                        </div>
                        <div class="rTableCell" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 15%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                        <div class="rTableCell" style="width: 10%; background-color:#DDFBE3;">
                            <span style="color:#DDFBE3;">.</span>
                        </div>
                    </div>
                </div>-->
                <br>
                <div class="rTable" *ngIf="transactionData">
                    <div class="rTableRow">
                        <div class="rTableCell"
                            style="width: 60%; overflow: visible; border-color: transparent; background-color:#DCE2FF; padding: 15px 5px;">
                            <div style="padding-left:1%;">Payment</div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="paymentMode" style="margin-bottom:0px;">Mode</label>
                                    <!-- <input type="text" name="paymentMode" class="form-control" [(ngModel)]="paymentRequest.paymentMode"> -->
                                    <div class="btn-group btn-block" dropdown>
                                        <button dropdownToggle type="button"
                                            class="btn btn-block btn-default dropdown-toggle">
                                            {{paymentRequest.paymentMode == 1 ? 'Cash' : (paymentRequest.paymentMode == 2 ? 'Card' : 'Online')}}<span class="caret"></span>
                                        </button>
                                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                                            <li role="roomtypeitem" (click)="paymentRequest.paymentMode = 1">
                                                <a class="dropdown-item point-cursor">Cash</a>
                                            </li>
                                            <li role="roomtypeitem" (click)="paymentRequest.paymentMode = 2">
                                                <a class="dropdown-item point-cursor">Card</a>
                                            </li>
                                            <li role="roomtypeitem" (click)="paymentRequest.paymentMode = 3">
                                                <a class="dropdown-item point-cursor">Online</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="paymentType" style="margin-bottom:0px;">Type</label>
                                    <!-- <input type="text" class="form-control" name="paymentType [(ngModel)]="paymentRequest.paymentType"> -->
                                        <div class="btn-group btn-block" dropdown>
                                            <button dropdownToggle type="button"
                                                class="btn btn-block btn-default dropdown-toggle">
                                                {{paymentRequest.paymentType == 1 ? 'Credit' : 'Debit'}}<span class="caret"></span>
                                            </button>
                                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                                <li role="roomtypeitem" (click)="paymentRequest.paymentType = 1">
                                                    <a class="dropdown-item point-cursor">Credit</a>
                                                </li>
                                                <li role="roomtypeitem" (click)="paymentRequest.paymentType = 2">
                                                    <a class="dropdown-item point-cursor">Debit</a>
                                                </li>
                                            </ul>
                                        </div>
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="paymentAmount" style="margin-bottom:0px;">Amount</label>
                                    <input type="text" class="form-control" name="paymentAmount"
                                        [(ngModel)]="paymentRequest.paymentAmount">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:20%; padding: 0px 1%;">
                                <div class="form-group" [class.blocked]="paymentRequest.paymentMode != 2">
                                    <label for="ccNo" style="margin-bottom:0px;">Card No.</label>
                                    <input type="text" class="form-control" name="ccNo"
                                        [(ngModel)]="paymentRequest.ccNo">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:15%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="receiptNo" style="margin-bottom:0px;">Recepit No.</label>
                                    <input type="text" class="form-control" name="receiptNo"
                                        [(ngModel)]="paymentRequest.receiptNo">
                                </div>
                            </div>
                            <div class="d-inline-block" style="width:20%; padding: 0px 1%;">
                                <div class="form-group">
                                    <label for="paymentDesc" style="margin-bottom:0px;">Description</label>
                                    <input type="text" class="form-control" name="paymentDesc"
                                        [(ngModel)]="paymentRequest.paymentDesc">
                                </div>
                            </div>
                            <div>
                                <div class="pull-right" style="width:20%; padding: 0px 1%;">
                                    <button class="btn btn-normal pull-right" (click)="updatePayment()">Pay Now</button>
                                </div>
                                <br clear="all" />
                            </div>
                        </div>
                        <div class="rTableCell text-right"
                            style="width: 30%; border-color: transparent; padding-right:0px;">
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Booking Total</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Other Charges</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Tax</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Disc/Allowances</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total with Tax</div>
                            <div style="padding-right:5px;height:25px;line-height: 25px;">Total Paid</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                        <div class="rTableCell text-right"
                            style="width: 10%; border-color: transparent; padding-left:0px;">
                            <div style="height:25px;line-height: 25px;">{{totalBillData.bookingTotal}}</div>
                            <div style="height:25px;line-height: 25px;">{{totalBillData.otherCharges}}</div>
                            <div style="height:25px;line-height: 25px;">{{totalBillData.taxAmount}}</div>
                            <div style="height:25px;line-height: 25px;">0</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                            <div style="height:25px;line-height: 25px;">{{totalBillData.amountAfterTax}}</div>
                            <div style="height:25px;line-height: 25px;">{{totalBillData.totalPaidAmount}}</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                    </div>
                    <div class="rTableRow">
                        <div class="rTableCell"
                            style="width: 60%; padding: 10px 5px; border-color: #ffffff; background-color:#C0CAF5;">
                            <div style="float:right; padding-right:1%;">
                                <button class="btn btn-normal">Back</button>
                                <button class="btn btn-normal">Delete Proforma Invoice</button>
                                <button class="btn btn-normal">Close</button>
                                <button class="btn btn-normal">Print</button>
                            </div>
                        </div>
                        <div class="rTableCell text-right"
                            style="width: 30%; min-height:20px;padding-top: 0px;border-color: #ffffff;background-color:#FFF;padding-right:0px;">
                            <div style="padding-right:5px;height:20px;line-height: 20px;">Balance</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                        <div class="rTableCell"
                            style="width: 10%; min-height:20px;padding-top: 0px;border-color: #ffffff;background-color:#FFF;padding-left:0px;">
                            <div class="text-right" style="height:20px;line-height: 20px;">
                                {{totalBillData.balanceAmount}}</div>
                            <hr style="margin-top:1px;margin-bottom:1px;">
                        </div>
                        <div class="rTableCell"
                            style="width: 40%; min-height:20px;padding-top: 0px;border-color: #ffffff;background-color:#FFF;">
                            <div style="height:20px;line-height: 20px;text-align: right;">Refund | Route Payment |
                                Currency Converter</div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <br>
</div>