.login-container {
    align-content: center;

    .card {
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: transparent;
        border: none; 
        .card-header {
            background-color: transparent;
            border: none; 
            .profile-img {
                width: auto;
                height: 70px;
                margin: 0 auto 10px;
            }
        }
        .card-body {

            .form-signin {
                font-size: 16px;
                //height: auto;
                padding: 15px;
                //margin: 0 auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;

                .need-help {
                    color: #6787BF;
                }

                div.input-wrapper {
                    position: relative;
                    margin-bottom: 10px;

                    i.fa {
                        position: absolute;
                        top: 7px;
                        left: 14px;

                        &.fa-lock {
                            top: 8px;
                        }

                        &.fa-envelope {
                            top: 6px;
                        }
                    }

                    input.form-control {
                        padding-left: 36px;
                        outline: none;
                        border-radius: 3px;

                        &:focus {
                            box-shadow: none;
                        }
                    }
                }

                .checkbox {
                    input[type="checkbox"] {
                        margin-right: 6px;
                    }
                }

                .btn {
                    border-radius: 3px;
                    color: #ffffff;

                    &.btn-go {
                        padding: 10px;
                        line-height: 10px;
                    }

                    &.login-btn {
                        background-color: #6787BF;
                    }
                }
            }

            .account-wall {
                padding: 40px 0px 20px 0px;
                background-color: #ffffff;
                box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16);
                border-radius: 4px;

                .login-title {
                    color: #555;
                    font-size: 22px;
                    font-weight: 400;
                    display: block;
                }

                .alert {
                    &.alert-danger {
                        text-align: center;
                        margin: 0px 15px;
                        padding: 5px;
                        font-size: 14px;
                        display: none;
                    }
                }
            }
          
            .select-img {
                border-radius: 50%;
                display: block;
                height: 75px;
                margin: 0 30px 10px;
                width: 75px;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

            .select-name {
                display: block;
                margin: 30px 10px 10px;
            }

            .logo-img {
                width: 96px;
                height: 96px;
                margin: 0 auto 10px;
                display: block;
                -moz-border-radius: 50%;
                -webkit-border-radius: 50%;
                border-radius: 50%;
            }

        }
    }
}
