<nav id="main-navbar" class="navbar navbar-dark">
    <a class="navbar-brand" href="/ui/dashboard">
        <img src="./assets/images/tejal-topbar-logo.png" alt="">
    </a>
    <div class="navbar-expand ml-auto navbar-nav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="javascript:void(0);">
                    <i class="fa fa-user"></i> Welcome {{userData.userName}}
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" data-target="#" id="navbarDropdownMenuLink" role="button">
                    <i class="fa fa-cog"></i> Settings
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                    <li><a class="dropdown-item" href="javascript:void(0)" routerLink="../admin">Admin</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" routerLink="./dashboard">Dashboard</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0)" routerLink="./frontdesk">Front Desk</a></li>
                    <li><a class="dropdown-item" href="#" (click)="logout();">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<nav id="sub-navbar" class="navbar navbar-expand-lg sub-navbar">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navContent2" aria-controls="navContent2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>   </button> -->

    <div class="nav-item">
        <a class="nav-link link-fl" href="javascript:void(0);">
            <!-- <i class="fa fa-bars" id="sidebarCollapse" data-toggle="collapse" data-target="#main-sidebar-container" aria-controls="main-sidebar-container" aria-expanded="false"></i>&nbsp;&nbsp;<span routerLink="./dashboard">Dashboard</span> -->
            <i class="fa fa-bars" id="sidebarCollapse"></i>&nbsp;&nbsp;<span routerLink="./dashboard">Dashboard</span>
        </a>
        <a class="nav-link link-fl" href="javascript:void(0);" *ngIf="paramDetails.pageName == 'Dashboard'">
            <i class="fa fa-calendar"></i>&nbsp;&nbsp;{{ now | date : 'dd-MMMM-y | h:mm a' }}
        </a>

    </div>
    <ul class="navbar-nav ml-auto pull-right" *ngIf="paramDetails.pageName == 'Dashboard'">
        <li class="nav-item">
            <a class="nav-link" href="#">
                <i class="fa fa-headphones"></i>&nbsp;Live Support
            </a>
        </li>
    </ul>


    <div id="navSub" class="collapse navbar-collapse" [style.padding-left.px]="subHeaderPaddingLeft" style="text-align: center" *ngIf="paramDetails.pageName != 'Dashboard'">
        <ul id="sub-menu1" class="navbar-nav">

            <li class="nav-item" routerLinkActive="active" routerLink="./frontdesk">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="./assets/images/frontdesk-small-ico.png" alt="">&nbsp;Front Desk
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="./housekeeping">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="./assets/images/housekeeping-small-ico.png" alt="">&nbsp;Housekeeping
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="./restaurant">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="./assets/images/restaurant-samll-ico.png" alt="">&nbsp;Restaurant
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="./reports">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="./assets/images/reports-samll-ico.png" alt="">&nbsp;Reports
                </a>
            </li>
            <li class="nav-item" routerLinkActive="active" routerLink="./billings">
                <a class="nav-link" href="javascript:void(0);">
                    <img src="./assets/images/others-samll-ico.png" alt="">&nbsp;Billings
                </a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fa fa-headphones"></i>&nbsp;Live Support
                </a>
            </li>
        </ul>

    </div>
    <!-- <div id="close-sub-menu" class="form-inline">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="nav-link">Close</div>
                </li>
            </ul>
        </div> -->
</nav>

<!-- sidebar -->
<nav id="sidebar" *ngIf="paramDetails.pageName=='Frontdesk'" (clickElsewhere)="closeSideSidebar()">
    <!-- <div id="dismiss">
        <i class="fa fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Links</h3>
    </div>

    <ul class="list-unstyled components"> -->
    <!-- <p>Dummy Heading</p> -->
    <!-- <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Dashboard</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="#">Home 1</a>
                    </li>
                    <li>
                        <a href="#">Home 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
            </li> -->
    <!-- <li>
                <a href="#">About</a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Page 3</a>
                    </li>
                </ul>
            </li>
        <li class="side-link" routerLinkActive="active" routerLink="./dashboard">
            <a href="javascript:void(0);">Dashboard</a>
        </li>
        <li class="side-link" routerLinkActive="active" routerLink="./frontdesk">
            <a href="javascript:void(0);">Frontdesk</a>
        </li>
        <li class="side-link" routerLinkActive="active" routerLink="./housekeeping">
            <a href="javascript:void(0);">Housekeeping</a>
        </li>
        <li class="side-link" routerLinkActive="active" routerLink="./restaurant">
            <a href="javascript:void(0);">Restaurant</a>
        </li>
        <li class="side-link" routerLinkActive="active" routerLink="./reports">
            <a href="javascript:void(0);">Reports</a>
        </li>
        <li class="side-link" routerLinkActive="active" routerLink="./others">
            <a href="javascript:void(0);">Others</a>
        </li> -->
    <!-- </ul> -->
    <ul class="list-unstyled components">
        <li>
            <a href="#roomSubmenu" data-toggle="collapse" aria-expanded="false">
                <img src="./assets/images/room-service-ico.png" alt=""> Room Operations
            </a>
            <ul class="collapse list-unstyled" id="roomSubmenu">
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('CheckedIn')">Check in List</a></li>
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('CheckedOut')">Check out List</a></li>
                <!-- <li><a href="javascript:void(0)" (click)="showFrontDeskPage('inhouse')">Guest In-House List</a></li> -->
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('Bookings')">Reservation List</a></li>
                <!-- <li><a href="javascript:void(0)" (click)="showFrontDeskPage('tempRoom')">Temp Room List</a></li> -->
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('NoShow')">No Show List</a></li>
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('Cancellations')">Cancelled Reservation List</a></li>
                <!-- <li><a href="javascript:void(0)" (click)="showFrontDeskPage('checkOutPending')">Check out pending list</a></li>
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('')">Pending Follo(s)</a></li>
                <li><a href="javascript:void(0)" (click)="showFrontDeskPage('checkIn')">3rd Party Reservation List</a></li> -->
            </ul>
            <a class="blocked" href="#"> <img src="./assets/images/guest-lookup-ico.png" alt=""> Guest Look-up</a>
            <a class="blocked" href="#"> <img src="./assets/images/house-status-ico.png" alt=""> House Status</a>
            <a class="blocked" href="#"> <img src="./assets/images/tariffchart-ico.png" alt=""> Tariff Chart</a>
            <a class="blocked" href="#"> <img src="./assets/images/accounts-ico.png" alt=""> Accounts</a>
        </li>
    </ul>

</nav>
<!-- end sidebar -->
