<div class="cust-container" style="padding:0px;margin: 10px 0px">
    <div class="body-section no-padding">

        <div class="row body-row no-gutters" style="margin-bottom:8px;">
            <div class="col">
                <button type="button" class="btn btn-round-xs btn-xs" *ngIf="billingPageView=='details'" (click)="showPaymentDetails('list')">Back to list</button>
            </div>
            <div class="col-6 text-center">
                <span class="h4" *ngIf="billingPageView=='list'">Reservation List</span>
                <span class="h4" *ngIf="billingPageView=='details'">Payment Details</span>
            </div>
            <div class="col">
                <input *ngIf="billingPageView=='list'" type="text" class="pull-right form-control" style="width:60%;" placeholder="Search">
            </div>
        </div>

        <div class="row body-row">
            <div class="table-responsive" *ngIf="billingPageView=='list'">

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" id="tableHeaderRow">
                        <div class="divDisplayTableCell head brdLft text-center" style="width:5%;">#</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Date</div>
                        <div class="divDisplayTableCell head text-center" style="width:5%;">Room No.</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Guest Name</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Check In Date</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Check Out Date</div>
                        <div class="divDisplayTableCell head text-center" style="width:12%;">Reservation No</div>
                        <div class="divDisplayTableCell head text-center" style="width:13%;">Booking No</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Booking Source</div>
                        <div class="divDisplayTableCell head text-center" style="width:5%;">Details</div>
                    </div>
                </div>

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" *ngFor="let item of [1,2,3,4,5,6]; let i = index;">
                        <div class="divDisplayTableCell brdLft text-center" style="width:5%;">
                            <span>{{i+1}}</span>
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            1{{i + 1}}-Jan-2019
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:5%;">
                            1{{i + 1}}5
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:15%;">
                            Robin Deb
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            1{{i + 1}}-Jan-2019
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:10%;">
                            1{{i + 1}}-Feb-2019
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:12%;">
                            1{{i + 1}}0025{{i + 1}}
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:13%;">
                            5{{i + 1}}0028{{i + 1}}
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:15%;">
                            Expedia
                        </div>
                        <div class="divDisplayTableCell brdLft text-center" style="width:5%;">
                            <div (click)="showPaymentDetails('details')"><i class="point-cursor fa fa-search"></i></div>
                        </div>
                    </div>

                </div>

            </div>

            <payment-details *ngIf="billingPageView=='details'" style="margin:auto; width:100%;"></payment-details>


        </div>

    </div>
</div>
