<div class="container-fluid" style="padding:10px 0px; ">
    <h5>HQ Fund Management</h5>

    <div class="admin-cust-container">
        <div class="head-section">
            <div class="row body-row">
                <div class="col-12">
                    <div class="card">
                        <div class="form-row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Select Account</label>
                                    <div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-account" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-account">
                                                HQ Account <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-account" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-account">
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">HQ Account</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">HR Account</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col" style="flex:0 0 20%;">
                                <div class="form-group">
                                    <label for="propertyName">Select Beneficiary</label>
                                    <div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-beneficiary" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-beneficiary">
                                                Front Desk <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-beneficiary" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-beneficiary">
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Front Desk</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">House Keeping</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Adminitrator</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Mode</label>
                                    <div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-mode" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-mode">
                                                Cash <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-mode" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-mode">
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Cash</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Card</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Net Banking</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Type</label>
                                    <div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-type" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-type">
                                                Credit <span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-type" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-type">
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Credit</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Debit</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Transfer By</label>
                                    <div>
                                        <div class="btn-group" dropdown>
                                            <button id="button-transfer" dropdownToggle type="button" class="btn dropdown-toggle" aria-controls="dropdown-transfer">
                                                Aman Barma<span class="caret"></span>
                                            </button>
                                            <ul id="dropdown-transfer" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-transfer">
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Aman Barma</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Bman Barma</a></li>
                                                <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">Cman Barma</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Balance</label>
                                    <div class="input-text-group" >
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-group">
                                    <label for="propertyName">Amount</label>
                                    <div class="input-text-group" >
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col text-center">
                                <button class="btn btn-normal">Pay Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-1">

        <div class="col-12 col-flexible">
            <alert *ngIf="alertMessageDetails.response" [type]="alertMessageDetails.type" [dismissible]="true" class="text-center">
                {{alertMessageDetails.message}}
            </alert>
        </div>

        <div class="col">
            <div class="table-responsive">

                <div class="divDisplayTable">
                    <div class="divDisplayTableRow" id="tableHeaderRow">
                        <div class="divDisplayTableCell head brdLft text-center" style="width:10%;">Sl. No.</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Date</div>
                        <div class="divDisplayTableCell head text-center" style="width:20%;">Description-References</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Mode</div>
                        <div class="divDisplayTableCell head text-center" style="width:15%;">Transfer By</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Type</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Amount</div>
                        <div class="divDisplayTableCell head text-center" style="width:10%;">Current Balance</div>
                    </div>
                </div>

                <perfect-scrollbar class="position-relative" [style.max-height.px]="scrollBarContainerHeight" [scrollIndicators]="true">

                    <div class="divDisplayTable">
                        <div class="divDisplayTableRow">

                            <div class="divDisplayTableCell brdLft text-center" style="width:10%;">1</div>

                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                11-Feb-2019
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:20%;">
                                Restaurent To HQ Account
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                By Cash
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:15%;">
                                Vijay Sankar
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                Credit
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                5098.30
                            </div>

                            <div class="divDisplayTableCell text-center" style="width:10%;">
                                5098.30
                            </div>

                        </div>
                    </div>

                </perfect-scrollbar>

            </div>
        </div>
    </div>

    <div class="row" id="footerButtonContainer" style="margin-top:20px;">
        <!-- <div class="col">
            <div class="d-inline-block point-cursor" (click)="displayAddNoShowPolicy();">
                <span class="badge badge-sky" style="vertical-align:text-top;"><i class="fa fa-plus"></i></span>
                <div style="margin-left:6px;display: inline-block;">Add</div>
            </div>
        </div> -->

        <div class="col">
            <!-- <button class="btn btn-normal pull-right" type="submit">Save</button> -->
            <!-- <button class="btn btn-normal pull-right" type="submit">Reset</button> -->
        </div>
    </div>
</div>
