.frontdesk {
    background-color: #fff;

    .frontdesk-header {
        padding: 8px 10px;

        .btn-xs {
            padding: 1px 5px;
            font-size: 12px;
            line-height: 1.5;
            margin: auto 5px;
            background: #f8f6f6;
            &.btn-round-xs {
                border-radius: 11px;
                padding-left: 10px;
                padding-right: 10px;
            }
            &.active{
                background: #6F85FB;
                color: #fff;
            }
            &:focus{
                box-shadow: none;
            }
        }

    }
    .room-blocked-row{
        margin-bottom: 1px;
        .room-blocked-head{
            background-color: #DCE2FF;
            display:inline-block;color:#000;
            font-size: 14px;
            padding: 6px 0px 6px 10px;
            line-height: 18px;
        }
        .room-blocked-cell{
            line-height: 18px;
            font-size: 12px;
            color: #4b65f1;
            background-color: #DCE2FF;
            display:inline-block; 
            text-align: center;
            padding: 6px 2px;
        }
    }
}
