<daypilot-modal #modal (close)="closed($event)" class="quick-reservation">    
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-lock"></i>&nbsp;Add Quick Reservation</h4>
                <button type="button" class="close" (click)="cancel()">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container-fluid">
                    <form [formGroup]="form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Duration</label>
                                    <div class="form-row">
                                        <div class="col">
                                            <div class="input-group date-cal">
                                                <span>
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" id="recipient-name" formControlName="start">
                                            </div>
                                        </div>
                                        <div class="col-1 align-self-center text-center">to</div>
                                        <div class="col">
                                            <div class="input-group date-cal">
                                                <span>
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                                <input type="text" class="form-control" id="recipient-name" formControlName="end">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="rateType" class="col-form-label">Rate Plan Type</label>
                                    <select class="form-control" id="rateType" formControlName="rateType">
                                        <option value="slcRate">Select Rate</option>
                                        <option *ngFor="let ratePlan of ratePlanList" value="{{ratePlan.ratePlanCode}}">{{ratePlan.ratePlanName}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="adultCount" class="col-form-label">Adult</label>
                                            <select class="form-control" id="adultCount">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>

                                        <div class="col">
                                            <label for="childCount" class="col-form-label">Children</label>
                                            <select class="form-control" id="childCount">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>

                                        <div class="col">
                                            <label for="roomCount" class="col-form-label">Room</label>
                                            <select class="form-control" id="roomCount">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Phone</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>

                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Email</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col-3">
                                            <label for="nameInitial" class="col-form-label">Title</label>
                                            <select class="form-control" id="nameInitial">
                                                <option>Mr.</option>
                                                <option>Mrs.</option>
                                                <option>Miss</option>
                                            </select>
                                        </div>

                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">First Name</label>
                                            <input type="text" class="form-control" id="recipient-name" formControlName="fname">
                                        </div>

                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Last Name</label>
                                            <input type="text" class="form-control" id="recipient-name" formControlName="lname">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="form-row">
                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Credit Card Accepted</label>
                                            <div class="card-holder">
                                                <a href="http://support.iconfinder.com/purchasing-and-downloading/supported-payment-methods" data-toggle="tooltip" title="" data-original-title="We accept VISA">
                                                    <img src="https://cdn0.iconfinder.com/static/img/cards/visa.svg?0ebb52d964" width="32">
                                                </a>
                                                <a href="http://support.iconfinder.com/purchasing-and-downloading/supported-payment-methods" data-toggle="tooltip" title="" data-original-title="We accept MasterCard">
                                                    <img src="https://cdn0.iconfinder.com/static/img/cards/mastercard.svg?063b13c064" width="32">
                                                </a>
                                                <a href="http://support.iconfinder.com/purchasing-and-downloading/supported-payment-methods" data-toggle="tooltip" title="" data-original-title="We accept American Express">
                                                    <img src="https://cdn0.iconfinder.com/static/img/cards/amex.svg?444731bb95" width="32">
                                                </a>
                                            </div>
                                        </div>

                                        <div class="col">
                                            <label for="recipient-name" class="col-form-label">Deposit</label>
                                            <input type="text" class="form-control" id="recipient-name">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" style="margin-top: 10px;">
                                    <span class="font-weight-normal">Price: {{ 1000 | currency:'INR':true }}</span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <span class="align-middle mr-auto">Single | Group | Agent/Corporate</span>

                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">Hold Till</label>
                </div>
                <button type="button" class="btn btn-primary">Temp Reserve</button>
                <button type="button" class="btn btn-primary">Reserve</button>

            </div>

        </div>
    </div>
</daypilot-modal>
