.scheduler_default_main {
    font-family: "Roboto-Bold";
    border-width: 0px;

    .scheduler_default_corner div:nth-of-type(2) {
        display: none !important;
    }

    .scheduler_default_timeheadergroup,
    .scheduler_default_timeheadercol {
        color: #3c4552;
        background: #f7f9ff;
    }

    .scheduler_default_timeheadergroup.suncss,
    .scheduler_default_timeheadercol.suncss {
        color: red;
    }

    .scheduler_default_rowheader,
    .scheduler_default_corner {
        color: #3c4552;
        background: #ffffff;
    }

    .scheduler_default_rowheader .inner_date,
    .scheduler_default_corner .inner_date {
        font-size: 14px;
        color: #4b65f1;
        position: absolute;
        top: 35%;
        left: 10%;
    }

    .scheduler_default_rowheader_inner {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 2px;
        display: flex;
        align-items: center;
    }

    .scheduler_default_timeheadergroup_inner {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        padding: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scheduler_default_timeheadercol_inner {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border-right-color: #f7f9ff;
        padding: 4px 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Roboto-Regular";
    }

    .scheduler_default_timeheadergroup_inner {
        border-bottom: 1px solid #ffffff;
    }

    .scheduler_default_divider,
    .scheduler_default_splitter,
    .scheduler_default_divider_horizontal,
    .scheduler_default_resourcedivider {
        background-color: #ffffff;
    }

    .scheduler_default_matrix_vertical_line,
    .scheduler_default_matrix_horizontal_line {
        background-color: #f0f0f0;
    }

    .scheduler_default_cell {
        background: #f9fafd;

        &.scheduler_default_cell_business {
            background: #fdfdfd;
        }

        &.scheduler_default_cellparent {
            background: #eaeaea;
        }
    }

    .scheduler_default_message {
        padding: 10px;
        opacity: 0.9;
        filter: alpha(opacity=90);
        color: #ffffff;
        background: #ffa216;
    }

    .scheduler_default_shadow_inner {
        background-color: #666666;
        opacity: 0.5;
        filter: alpha(opacity=50);
        height: 100%;
    }

    .scheduler_default_matrix_vertical_break {
        background-color: #000;
    }

    .scheduler_default_tree_image_no_children {
        background-image: none;
    }

    .scheduler_default_columnheader_inner {
        font-weight: bold;
    }

    .scheduler_default_columnheader_cell {
        background: linear-gradient(to right, #eeeeee 0%, #dddddd);
    }

    .scheduler_default_columnheader_splitter {
        background-color: #666;
        opacity: 0.5;
        filter: alpha(opacity=50);
    }

    .scheduler_default_columnheader_cell_inner {
        padding: 2px;
    }

    .scheduler_default_timeheader_float {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .scheduler_default_timeheader_float_inner {
        padding: 2px;
    }

    .scheduler_default_event {
        color: #ffffff;
    }

    .scheduler_default_event_inner {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: 0px;
        overflow: hidden;
        //background-color: #97ed6d;
        padding: 2px 5px;
        //border: 1px solid #5cb431;
        display: flex;
        align-items: center;
    }

    .scheduler_default_event_float {
        display: flex;
        align-items: center;
    }

    .scheduler_default_event_float_inner {
        padding: 3px 2px 2px 7px;
        padding-left: 9px;
        /*top: -2px;*/
        position: relative;

        &:after {
            content: "";
            border-color: transparent #ffffff transparent transparent;
            border-style: solid;
            border-width: 5px;
            width: 0;
            height: 0;
            position: absolute;
            top: 5px;
            left: -4px;
        }
    }

    .scheduler_default_event_move_left,
    .scheduler_default_event_move_right {
        box-sizing: border-box;
        padding: 2px;
        border: 1px solid #ccc;
        background: #fff;
        background: linear-gradient(to bottom, #ffffff 0%, #eeeeee);
    }

    .scheduler_default_event_delete {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat;
        opacity: 0.6;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
        cursor: pointer;
        opacity: 0.6;

        &:hover {
            opacity: 1;
            -ms-filter: none;
        }
    }
}