$table_cell_text_color: #111111;
$table_border_color: #d3d3d3;
$table_head_background_color: #dce2ff;
$table_head_text_color: #5c6475;
$table_odd_cell_background_color : #fff;
$table_even_cell_background_color: #f7f9ff;
$table_footer_background_color: #DDFBE3;
$table_footer_text_color: #111111;

$button_normal_background_color: #6787bf;
$button_normal_text_color: #ffffff;
$badge_background_color: #6787bf;
$badge_text_color: #ffffff;
$nav_color: #6F85FB;
$decimal_percent_badge_background: #6787BF;
$decimal_percent_badge_text_color: #ffffff;

$input-border-color: #ced4da;
//colors
$white: #fff;
$checkbox_radio_checked_color: #6787bf;
$color_cararra_approx: #ececec;
$color_alto_approx: #dcdcdc;
$color_celeste_approx: #ccc;

// wrap check box color
$wrap_checkbox_background_color: #f8f6f6;
$wrap_checkbox_border_color: #d3d3d3;
$wrap_checkbox_after_background: #90daff;
$wrap_checkbox_filled_color: #fff;
$wrap_checkbox_checked_background: #6787bf;

//admin fonts and colors
//colors
$menu_text_color: #3c4552;
$nav_menu_border_color: #fff;
$menu_hover_background_color: #ffffff;
$menu_hover_border_color: #90daff;
$menu_hover_text_color: #3c4552;
$active_menu_text_color: #3c4552;
$nav_side_menu_background_color: #fff;
$active_menu_border_color: #90DAFF;
$sub_menu_hover_background_color: #90daff;
$menu_subline_background_color: #181c20;
$name_menu_brand_background_color: #23282e;
$color_nav_side_menu_background_color_approx: #020203;
$color_outer_space_approx: #2e353d;
$color_baby_blue_approx: #e1ffff;
$color_scarpa_flow_approx: #6787BF;
$color_celeste_approx: #ccc;
$color_pink_swan_90_approx: rgba(187, 187, 187, 0.9);
$color_pink_swan_60_approx: rgba(187, 187, 187, 0.6);
$color_anakiwa_approx: #90daff;
//dropdown inside table
$dropdown-background-color: #fff;
$dropdown-border-color: #ced4da;
$dropdown-text-color: #000;

//fonts
$font_awesome: FontAwesome;

// capsule tab button
$capsule_button_background_color: #f8f6f6;
$capsule_active_button_background_color: #6F85FB;
$capsule_active_button_text_color: #ffffff;

// admin page top box panel
$admin_top_box_background: #dce2ff;
$admin_top_box_text_color: #3D4653;
$admin_top_box_inner_panel_background: #fff;
$admin_top_box_inner_panel_text_color: #000;