<div class="container-fluid" style="padding:10px 0px; ">
    <!-- <h5></h5> -->
    <div class="row booking-row border-layout">
        <div class="col-12 col-flexible">
            <alert *ngIf="alertMessageDetails.response" [type]="alertMessageDetails.type" [dismissible]="true"
                class="text-center">
                {{alertMessageDetails.message}}
            </alert>
            <div class="form-container">
                <header>Hotel Rate Update</header>

                <section>
                    <div class="form-group row">

                        <div class="col">
                            <label for="daterange">Select Date Range</label>
                            <div class="form-row">
                                <div class="col">
                                    <div class="input-group date-cal">
                                        <span (click)="dpsrt.show()"><i class="fa fa-calendar"></i></span>
                                        <input bsDatepicker class="form-control" id="startDate" #dpsrt="bsDatepicker"
                                            type="text" [bsConfig]="rateUpdateConfigStart"
                                            [(ngModel)]="rateUpdateDatePickerStart"
                                            (onHidden)="onRateUpdateDateChangeCalculateChart($event)">
                                    </div>
                                </div>
                                <div class="col-1 text-center pt-1">to</div>
                                <div class="col">
                                    <div class="input-group date-cal">
                                        <span (click)="dpend.show()"><i class="fa fa-calendar"></i></span>
                                        <input bsDatepicker class="form-control" id="endDate" #dpend="bsDatepicker"
                                            type="text" [bsConfig]="rateUpdateConfigEnd"
                                            [(ngModel)]="rateUpdateDatePickerEnd"
                                            (onHidden)="onRateUpdateDateChangeCalculateChart($event)">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <label for="selectDays">Days</label>
                            <div class="form-row">
                                <div class="btn-group col" dropdown>
                                    <button id="button-days" dropdownToggle type="button" class="btn dropdown-toggle"
                                        aria-controls="dropdown-mode">
                                        {{seletedCalDays}} <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-days" *dropdownMenu class="dropdown-menu" role="menu"
                                        aria-labelledby="button-mode">
                                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">3</a>
                                        </li>
                                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">5</a>
                                        </li>
                                        <li role="menuitem"><a class="dropdown-item" href="javascript:void(0);">7</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <button class="btn btn-normal">Show</button>
                                </div>
                            </div>
                        </div>

                        <div class="col-3">
                            <label for="propertyName">Select Rate Plan</label>
                            <div>
                                <div class="btn-group" dropdown>
                                    <button id="button-room" dropdownToggle type="button" class="btn dropdown-toggle"
                                        aria-controls="dropdown-room">
                                        {{selectedRatePlan.name}} <span class="caret"></span>
                                    </button>
                                    <ul id="dropdown-room" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-room">
                                        <li role="menuitem" *ngFor="let rateItem of ratePlanList" (click)="getPriceManagerRates(rateItem)">
                                            <a class="dropdown-item" href="javascript:void(0);">{{rateItem.ratePlanName}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="col-2">
                            <label for="propertyName">Currency</label>
                            <input class="form-control" id="currency" type="text" value="INR">
                        </div>

                    </div>
                </section>

                <div class="table-responsive">

                    <div class="divDisplayTable">
                        <div class="divDisplayTableRow" id="tableHeaderRow">
                            <div class="divDisplayTableCell brdLft head text-center position-relative"
                                style="width:18%;border-bottom-width:0px;">
                                <span style="bottom: -0.25rem; left: 0.8rem; position: absolute;">Rate Quick Fill</span>
                            </div>
                            <div class="divDisplayTableCell head text-center" [ngStyle]="{'width.%':dayCellPercentage}"
                                *ngFor="let dateItem of rateUpdateDateList;">
                                <div class="week-day">{{dateItem | date: 'EEE'}}</div>
                                <div>{{dateItem | date: 'dd-MMM-yyyy'}}</div>
                            </div>
                        </div>

                        <ng-container>
                            <div class="divDisplayTableRow">
                                <div class="divDisplayTableCell brdLft head text-left"
                                    style="width:18%;border-top-width:0px;">
                                    <input type="text" name="quickFill" id="quickFill_smatfill"
                                        class="edit-input-box short-width mr-1" value="1000.00" />
                                    <img class="point-cursor" src="./assets/images/smart-fill.png" alt="fill right">
                                </div>
                                <div class="divDisplayTableCell text-left" [ngStyle]="{'width.%':dayCellPercentage}"
                                    *ngFor="let dateItem of rateUpdateDateList;let i = index;">
                                    <input type="text" name="quickFill" id="quickFill_{{i}}"
                                        class="edit-input-box short-width mr-1" value="2000.00" />
                                    <img class="point-cursor" src="./assets/images/blue-down-arrow.png" alt="fill down">
                                </div>
                            </div>


                            <div class="divDisplayTableRow" *ngFor="let key of objectKeys(ratePriceDateList)">
                                
                                <div class="divDisplayTableCell brdLft head text-left" style="width:18%;">
                                    <span>{{ratePriceDateList[key]['roomName']}}</span>
                                    <!-- <input type="text" name="quickFill" id="quickFill_rooms"
                                        style="width:calc(85% + 20px)" class="edit-input-box text-left"
                                        value="" /> -->
                                </div>
                                <div class="divDisplayTableCell text-center" [ngStyle]="{'width.%':dayCellPercentage}"
                                    *ngFor="let dateItem of ratePriceDateList[key]; let i = index;">
                                    <input type="text" name="quickFill" id="quickFill_{{i}}" class="edit-input-box"
                                        [(ngModel)]="dateItem.rateAmount" />
                                </div>
                            </div>

                            <!-- <div class="divDisplayTableRow">
                                <div class="divDisplayTableCell brdLft head text-left" style="width:18%;">
                                    <input type="text" name="quickFill" id="quickFill_rooms"
                                        style="width:calc(85% + 20px)" class="edit-input-box text-left"
                                        value="Standard Room" />
                                </div>
                                <div class="divDisplayTableCell text-center" [ngStyle]="{'width.%':dayCellPercentage}"
                                    *ngFor="let dateItem of rateUpdateDateList;">
                                    <input type="text" name="quickFill" id="quickFill_{{i}}" class="edit-input-box"
                                        value="2000.00" />
                                </div>
                            </div>
                            <div class="divDisplayTableRow">
                                <div class="divDisplayTableCell brdLft head text-left" style="width:18%;">
                                    <input type="text" name="quickFill" id="quickFill_rooms"
                                        style="width:calc(85% + 20px)" class="edit-input-box text-left"
                                        value="Double Room" />
                                </div>
                                <div class="divDisplayTableCell text-center" [ngStyle]="{'width.%':dayCellPercentage}"
                                    *ngFor="let dateItem of rateUpdateDateList;">
                                    <input type="text" name="quickFill" id="quickFill_{{i}}" class="edit-input-box"
                                        value="4000.00" />
                                </div>
                            </div> -->
                        </ng-container>
                    </div>

                </div>

            </div>
        </div>     
    </div>

    <div class="row booking-row no-gutters">
        <div class="col-12 col-flexible mt-1">
            <section class="form-footer">
                <div class="form-row">
                    <!-- <div class="col">
                            <span style="color:red;">*</span> <small>Fields are mandatory</small>
                        </div> -->
                    <div class="col">
                        <button class="btn  btn-normal pull-right"> Update </button>
                        <button class="btn  btn-normal pull-right"> Reset </button>
                    </div>
                </div>
            </section>            
        </div>
    </div>

</div>